@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome dear evaluator</h1>
    <p>
        <h6>This is the Front Page APp built with CSharp to consume the gRPC Service</h6>
    </p>

    <p>
        <h6>You can navigate trough the menus at the left side</h6>
    </p>
</div>