@{
    ViewData["Title"] = "Add New Crypto Page";
}

<div class="text-center">

    <h1 class="display-4">Add Crypto</h1>

    <p>This page uses a gRPC service.</p>

    <p>Crypto Add: @ViewBag.Crypto</p>

</div>