@{
    ViewData["Title"] = "Add New Crypto Page";
}

<div class="text-center">
    <h1 class="display-4">Add Crypto</h1>
    <p>This page uses a gRPC service.</p>
</div>

<form>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" name="CryptoEntity.Name" class="form-control" id="Name"
                    placeholder="Cryptocurrency Name. (ex. Bitcoin, Ethereum, etc...)" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">
                <label for="Token" class="form-label">Token</label>
                <input type="text" name="CryptoEntity.Token" class="form-control" id="Token"
                    placeholder="Token Name. (ex. USDT, BTC, KLV, etc...)" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">
                <label for="Image" class="form-label">Choose a Image to represent the coin</label>
                <input class="form-control" name="CryptoEntity.Image" type="file" id="Image">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <div class="mb-3">
                @* <button type="button" id="btn-save" class="btn btn-lg btn-primary">Save</button> *@
                <button type="button" id="btn-crypto" class="btn btn-lg btn-primary">Add</button>
            </div>
        </div>
    </div>
</form>

<!-- The Modal -->
<div class="modal" id="modal-result">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Crypto Result</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="modal-msg">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-close">Close</button>
      </div>

    </div>
  </div>
</div>

@section scripts {
<script type="text/javascript">
    window.onload = function () {
        const btn = document.getElementById("btn-crypto");
        const close = document.getElementById("modal-close");

        close.addEventListener("click", function (e) {
            window.location = "/Crypto/List";
        }, false);


        btn.addEventListener("click", function (e) {
            var name = document.getElementById("Name").value;
            var token = document.getElementById("Token").value;
            const options = { method: 'POST', body: JSON.stringify("") };

            if(name != "" && token != ""){
                SaveCrypto(name, token); 
            }
            else{
                alert('ERROR!');
            }
        }, false);

    }

    async function SaveCrypto(name, token){
        const options = {
            method: 'POST'
        };

        var response = await fetch('/Crypto/Insert?name=' + name + '&token=' + token, options);
        var result = await response.json();
        var crypto = result.crypto;
        var modal = new bootstrap.Modal(document.getElementById("modal-result"), {});

        if(crypto.id > 0){
            console.log(crypto);
            document.getElementById("modal-msg").innerHTML = "Sucess saving Crypto. Logged in Console";
            modal.show();
        }
        else{
            document.getElementById("modal-msg").innerHTML = "Error. Any Crypto Added";
            modal.show();            
        }
    }
</script>
}