@{
    ViewData["Title"] = "Update Crypto Page";
    string pageName = ViewBag.PageName ?? "Unknown";
}

<div class="text-center">

    <h1 class="display-4">Update Crypto</h1>

    <p>This page uses a gRPC service.</p>

</div>