@model kleverchallenge.Models.CryptoEntity
@{
    ViewData["Title"] = "Update Crypto Page";
    string pageName = ViewBag.PageName ?? "Unknown";
}

<div class="text-center">
    <h1 class="display-4">Update Crypto</h1>
    <p>This page uses a gRPC service.</p>
</div>

<form>
    @Html.Hidden("CryptoEntity.Id", Model?.Id)
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" name="CryptoEntity.Name" class="form-control" id="Name"
                    placeholder="CryptoEntity Name. (ex. Bitcoin, Ethereum, etc...)" value="@Model?.Name" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">
                <label for="Token" class="form-label">Token</label>
                <input type="text" name="CryptoEntity.Token" class="form-control" id="Token"
                    placeholder="Token Name. (ex. USDT, BTC, KLV, etc...)" value="@Model?.Token" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">
                <label for="Votes" class="form-label">Votes</label>
                <input type="text" name="CryptoEntity.Token" class="form-control" id="Votes"
                    placeholder="Token Name. (ex. USDT, BTC, KLV, etc...)" value="@Model?.Votes" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <div class="mb-3">
                @* <button type="button" id="btn-save" class="btn btn-lg btn-primary">Save</button> *@
                <button type="button" id="btn-crypto" class="btn btn-lg btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>

<!-- The Modal -->
<div class="modal" id="modal-result">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Save Crypto Result</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="modal-msg">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-close">Close</button>
      </div>

    </div>
  </div>
</div>

@section scripts {
<script type="text/javascript">
    window.onload = function () {
        const btn = document.getElementById("btn-crypto");
        const close = document.getElementById("modal-close");

        close.addEventListener("click", function (e) {
            window.location = "/Crypto/Manage";
        }, false);


        btn.addEventListener("click", function (e) {
            var id = document.getElementById("CryptoEntity_Id").value;
            var name = document.getElementById("Name").value;
            var token = document.getElementById("Token").value;
            var votes = document.getElementById("Votes").value;

            var crypto = {
                Id: id,
                Name: name,
                Token: token,
                Votes: votes
            };

            if(name != "" && token != ""){
                SaveCrypto(crypto); 
            }
            else{
                alert('ERROR!');
            }
        }, false);

    }

    async function SaveCrypto(crypto){
        const options = { 
            method: 'POST', 
            headers: {                        
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify(crypto) 
        };

        console.log(crypto);
        console.log(crypto.Id);
        var response = await fetch('/Crypto/Update', options);
        var result = await response.json();
        var crypto = result.crypto;
        var modal = new bootstrap.Modal(document.getElementById("modal-result"), {});

        if(crypto.id > 0){
            console.log(crypto);
            document.getElementById("modal-msg").innerHTML = "Sucess updating Crypto. Logged in Console";
            modal.show();
        }
        else{
            document.getElementById("modal-msg").innerHTML = "Error. Any Crypto Updated";
            modal.show();            
        }
    }
</script>
}